---
---

@import "{{ site.theme }}";

header a.button {
  float: right;
  position: relative;
  clear: both;
}

header a.github {
  background: transparent url(../../images/github-button.png) 0 0 no-repeat;
}

header a.hackaday {
  background: transparent url(/hack-clock/images/buttons/hackaday.png) 0 0 no-repeat;
}

aside a.download {
  background: transparent url(../../images/download-button.png) 0 0 no-repeat;
}

aside a.hardware {
  background: transparent url(/hack-clock/images/buttons/sevenseg.png) 0 0 no-repeat;
}

aside a.lessons {
  background: transparent url(/hack-clock/images/buttons/blocks.png) 0 0 no-repeat;
}

aside a.issues {
  background: transparent url(/hack-clock/images/buttons/issues.png) 0 0 no-repeat;
}

#main-content code {
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  display: block;
  border: 1px solid #bebab0;
}

#main-content img {
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;
}

#main-content img.icon {
  margin: 2px;
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
  header a.github {
    background-color: #9ddcff;
    background-image: none;
  }

  header a.hackaday {
    background-color: #9ddcff;
    background-image: none;
  }
}
