.filename {
  color: gray;
}

#toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
}

#titlebar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-left: 20px;
  color: white;
  font-size: large;
}
