Source: hackclock
Maintainer: DeckerEgo <john@deckerego.net>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1
X-Python-Version: >= 2.7



Package: python-hackclock
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ntp, python-bottle, python-requests, python-protobuf, python-httplib2, python-oauth2client, wiringpi, python-setuptools, python-pip, python-dev, python-dateutil, python-smbus, gstreamer0.10-x, gstreamer-tools, gstreamer0.10-plugins-base, gstreamer0.10-plugins-good, gstreamer0.10-plugins-bad, python-gst0.10
Description: A hackable alarm clock for the Raspberry Pi
