.toolbar {
  background-color: gray;
}

.titlebar {
  display: block;
}

.title {
  text-align: right;
  color: white;
  font-size: large;
  float: right;
}

#errors {
  width: 100%;
  border: 5px solid #eee;
  height: 20vh;
}

.filestatus {
  float: right;
  padding-right: 10px;
}

.runstatus {
  padding-left: 10px;
}

.CodeMirror {
  border: 5px solid #eee;
  height: 70vh;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
