#errors {
  width: 100%;
  border: 5px solid #eee;
  height: 15vh;
}

#runstatus {
  float: right;
  font-size: 18px;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#indexButtonGroup .btn {
  padding: 24px 12px;
  margin: 0 5px;
  font-size: 36px;
}

.CodeMirror {
  border: 5px solid #eee;
  height: 65vh;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
