.filename {
  color: gray;
}

.toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: gray;
}

.titlebar {
  margin-top: 10px;
  margin-bottom: 10px;
}

#errors {
  width: 100%;
  border: 5px solid #eee;
  height: 200px;
}

.title {
  margin-right: 20px;
  text-align: right;
  color: white;
  font-size: large;
  float: right;
}

.CodeMirror {
  border: 5px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
